@charset "UTF-8";
.bg-white {
    font-size: 25px;
    ;
    ;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    ;
    ;
    ;
    ;
    ;
    ;
    color: #00597B;
    margin-left: 15px;
}
 .navbar-nav .nav-item .nav-link{
    color: #2D2D2D;
}
.logo {
}
.day01 {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 25px;
    margin-left: 30px;
}
.pic01 {
}
.article2 {
    line-height: 30px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    bottom: 0px;
    right: 0px;
    top: 0px;
    margin-left: 30px;
}
.ill {
    line-height: 35px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    font-size: 15px;
    left: 0px;
}
.illustration {
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 25px;
}
.ill04post {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    line-height: 30px;
}
.ill07post {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    line-height: 30px;
}
.ill06post {
    line-height: 30px;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
}
.ill05post {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    line-height: 30px;
}

.ill01 {opacity: 1.0;filter: alpha(opacity=100)
}
.ill01:hover {opacity: 0.5;filter: alpha(opacity=50)
}
.ill02 {opacity: 1.0;filter: alpha(opacity=100)
}
.ill02:hover {opacity: 0.5;filter: alpha(opacity=50)
}
.ill03 {opacity: 1.0;filter: alpha(opacity=100)
}
.ill03:hover {opacity: 0.5;filter: alpha(opacity=50)
}
.article {
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    line-height: 30px;
    margin-left: 30px;
}
.magazine {
}
